


P.special {
 font-size: bigger;
}
P.news {
 font-family: sans-serif;
 color: #0000A0;
}

div#content {
	margin-right: 1in;
}

div#code {
	margin-top: 0.5cm;
	margin-left: 1in;
	margin-bottom: 0.5cm;

	font-family: courier;
	color: #000040;
	background-color: #FFFF99 ;
}